.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Users{
  
 border: 1px solid rosybrown;
 background-color:beige ;
 width:500px;
 
}
.oneUser{
  border: 1px solid rosybrown;
  margin:10px;
  border-radius: 8px;
  box-shadow: 5px 10px #cecbcb;

}